@font-face {
	font-family: 'Cafe24Oneprettynight';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Roboto", sans-serif, "Pretendard Variable", sans-serif ;
	background-color: #101010;
	font-size: 1vw;
	color: #FEF8F2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #FEF8F2;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
	overflow-x: hidden;
}

/* common */
.cursor {
	position: relative;
	z-index: 100;
	bottom: 1.4px;
	right: 1.4px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #FEF8F2;
	will-change: transform;
	pointer-events: none;
	mix-blend-mode: difference;
}
.cursor.active::after {
	content: "";
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #FEF8F2;
}

@media only screen and (max-width: 420px) {
	.cursor {
		display: none;
	}
}

/* section */
section > div {
	padding-top: 200px;
	box-sizing: border-box;
	height: 100%;
}
section > .content {
	padding: 0 150px;
	box-sizing: border-box;
}
@media only screen and (max-width: 360px){
	section > .content {
		padding: 0;
	}
}

/* title */
.title {
	padding: 100px 0 ;
	box-sizing: border-box;
}

.title h3 {
	position: relative;
	font-family: "Great Vibes", cursive ;
	font-size: clamp(56px, 7vw, 130px);
	color: #FEF8F2;
	width: fit-content;
	height: 100%;
	margin: 0 auto;
	overflow: visible;
}
.title h3::after {
	content: "";
	position: absolute;
	bottom: 70px;
	right: -100px;
	width: 80px;
	height: 80px;
	background: url(../img/star0.png) no-repeat 0 0;
	background-size: contain;
}

/* topbtn */
#topbtn {
	position: fixed;
	z-index: 99;
	right: 2%;
	bottom: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
}
@media only screen and (max-width: 800px) {
	#topbtn {
		font-size: 5em;
		right: 6%;
	}	
}